body{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background: #1e1e2f;
}

#expandir{
    width: 150px;
    height: 150px;
    background-color: #4f8cff;
    border-radius: 12px;
    transition: all 0.3s ease,;
    cursor: pointer;
}


